#page {
  position: relative;
  background-color: #fff;
  background-image: url('../../files/images/bg-tug-war.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 500px;
  background-position: center top;
}

.header__sitename {
  color: #2a2a2a;
  font-size: 21px;
  margin-bottom: 0;
  padding: 0 0 20px 12px;
  white-space: nowrap;
  margin: 0;
}

.header__sitename a {
  color: #2a2a2a;
}

.header__sitename a:hover {
  text-decoration: none;
}

.facil-login h2 {
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px 15px;
  font-size: 14px;
  font-weight: normal;
  font-family: "Roboto","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.button-link h2 {
  text-align: center;
  margin-top: 200px;
}

.button-link a {
  background: #990033;
  color: #fff !important;
  padding: 10px 15px;
  border-radius: 6px;
  box-shadow: 1px 1px 5px #333;
}

/* 

Styles being removed
#page .region-content {
   padding: 20px; 
}

#site-name-desktop .container {
  background-color: #000; 
  height: 40px;
}

h1.site-title .first-word {
  color: #AFA593;
} 

[class*="span"] {
float: left;
min-height: 1px;
margin-left: 30px; <--
}

*/